.modal-wrapper {
    background:#e0f2f1 ;
    border: 3px solid #004d40;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin-left:  10%; ;
    transition: all .8s;
    width: 40%; 
    position: fixed;
    z-index: 1;
    height: 65%;
}

.btn-mrg-1{
    margin-right: 150px;
    position:absolute;
    bottom:10px;
    right:50px;
}

.btn-mrg-2{
    margin-right: 40px;
    position:absolute;
    bottom:10px;
    right:50px;
}

#biography {
    width: 80%;
}

#img_url {
    width: 80%;
}
#full_name {
    width:80;
}

#error {
    margin-left: 70px;
}

.modal-pic {
    width: 125px;
    height: 125px;
}